In [1]:
import pandas as pd

In [95]:
daily = pd.read_excel("Daily_Station_Exits.xlsx", sheetname = "Data")

In [96]:
daily.drop(daily.columns[-9:], inplace = True, axis = 1)

In [97]:
daily.columns[5:]

Index([u'RM', u'EN', u'EP', u'NB', u'BK', u'AS', u'MA',    19,    12, u'LM',
       u'FV', u'CL', u'SL', u'BF', u'HY', u'SH', u'UC', u'FM', u'CN', u'PH',
       u'WC', u'LF', u'OR', u'RR', u'OW', u'EM', u'MT', u'PL', u'CC',    16,
          24, u'GP', u'BP', u'DC', u'CM', u'CV', u'ED', u'NC', u'WP'],
      dtype='object')

In [98]:
daily.head()

,FY,Qtr,Month,Day,Date,RM,EN,EP,NB,BK,...,16,24,GP,BP,DC,CM,CV,ED,NC,WP
0,FY98,1998Q3,January,hol,1998-01-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FY98,1998Q3,January,w,1998-01-02,2042.0,4854.0,2168.0,2123.0,5228.0,...,4293.0,6393.0,3940.0,5759.0,4079.0,3543.0,892.0,1222.0,483.0,2462.0
2,FY98,1998Q3,January,sa,1998-01-03,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FY98,1998Q3,January,su,1998-01-04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FY98,1998Q3,January,w,1998-01-05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
daily = pd.melt(daily, value_vars = daily.columns[5:], 
        id_vars = ['FY', 'Qtr', 'Month', 'Day', 'Date'], var_name = 'id', value_name = 'num_riders' )

In [100]:
daily.fillna(0, inplace = True)

In [101]:
daily['year'] = daily['Date'].dt.year
daily['month'] = daily['Date'].dt.month
daily['weekday'] = daily['Date'].dt.weekday_name

In [102]:
daily = daily.iloc[:7394]

In [53]:
mapping = pd.read_csv("bart_stations.csv")

In [109]:
daily = daily.join(mapping.set_index('id'), how = 'left', on = 'id')

In [110]:
daily['num_riders'] = daily['num_riders'].astype(int)

In [112]:
daily_month_weekday_agg = daily.groupby(['name', 'year', 'month', 'weekday'])['num_riders'].mean().reset_index()

In [113]:
daily_month_weekday_aggjoin(mapping.set_index('id'), how = 'left', on = 'id')

          name  year  month    weekday  num_riders
0     Richmond  1998      1     Friday     2645.20
1     Richmond  1998      1     Monday     1308.50
2     Richmond  1998      1   Saturday      889.00
3     Richmond  1998      1     Sunday      433.50
4     Richmond  1998      1   Thursday     2174.80
5     Richmond  1998      1    Tuesday     2713.25
6     Richmond  1998      1  Wednesday     2015.00
7     Richmond  1998      2     Friday     2959.75
8     Richmond  1998      2     Monday     1958.50
9     Richmond  1998      2   Saturday     1081.25
10    Richmond  1998      2     Sunday      964.25
11    Richmond  1998      2   Thursday     3068.25
12    Richmond  1998      2    Tuesday     2793.75
13    Richmond  1998      2  Wednesday     2832.00
14    Richmond  1998      3     Friday     2868.75
15    Richmond  1998      3     Monday     2338.80
16    Richmond  1998      3   Saturday     1579.50
17    Richmond  1998      3     Sunday     1165.80
18    Richmond  1998      3   Thursday     2874.50
19    Richmond  1998      3    Tuesday     2937.00
20    Richmond  1998      3  Wednesday     2844.00
21    Richmond  1998      4     Friday     2864.00
22    Richmond  1998      4     Monday     2832.00
23    Richmond  1998      4   Saturday     1669.50
24    Richmond  1998      4     Sunday     1177.50
25    Richmond  1998      4   Thursday     3023.00
26    Richmond  1998      4    Tuesday     2937.75
27    Richmond  1998      4  Wednesday     2989.40
28    Richmond  1998      5     Friday     2996.00
29    Richmond  1998      5     Monday     2179.50
...        ...   ...    ...        ...         ...
1671  Richmond  2017     11    Tuesday     4434.50
1672  Richmond  2017     11  Wednesday     4344.20
1673  Richmond  2017     12     Friday     3797.20
1674  Richmond  2017     12     Monday     3247.00
1675  Richmond  2017     12   Saturday     1844.20
1676  Richmond  2017     12     Sunday     1297.20
1677  Richmond  2017     12   Thursday     3898.50
1678  Richmond  2017     12    Tuesday     3829.75
1679  Richmond  2017     12  Wednesday     3956.25
1680  Richmond  2018      1     Friday     3753.50
1681  Richmond  2018      1     Monday     2955.80
1682  Richmond  2018      1   Saturday     1775.50
1683  Richmond  2018      1     Sunday     1165.75
1684  Richmond  2018      1   Thursday     3965.00
1685  Richmond  2018      1    Tuesday     3987.40
1686  Richmond  2018      1  Wednesday     4053.40
1687  Richmond  2018      2     Friday     3912.75
1688  Richmond  2018      2     Monday     3567.75
1689  Richmond  2018      2   Saturday     1848.25
1690  Richmond  2018      2     Sunday     1237.00
1691  Richmond  2018      2   Thursday     4254.50
1692  Richmond  2018      2    Tuesday     4259.00
1693  Richmond  2018      2  Wednesday     4289.00
1694  Richmond  2018      3     Friday     3921.00
1695  Richmond  2018      3     Monday     4070.50
1696  Richmond  2018      3   Saturday     1784.25
1697  Richmond  2018      3     Sunday     1221.50
1698  Richmond  2018      3   Thursday     4154.60
1699  Richmond  2018      3    Tuesday     4170.25
1700  Richmond  2018      3  Wednesday     4221.75

[1701 rows x 5 columns]